In [36]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

input1 = r"C:\Users\USER\20190722_아시아 경제 update\notebook\CopyProject"
import os
print(os.listdir(input1))

# Any results you write to the current directory are saved as output

['.ipynb_checkpoints', 'example_zigbang.csv', 'example_zigbang_2.csv', 'Untitled.ipynb', '고니']

In [37]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

input1 =r"C:\Users\USER\20190722_아시아 경제 update\notebook\CopyProject"
import os
print(os.listdir(input1))

# Any results you write to the current directory are saved as output
from sklearn.datasets import make_regression

['.ipynb_checkpoints', 'example_zigbang.csv', 'example_zigbang_2.csv', 'Untitled.ipynb', '고니']

In [38]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

input1 = r"C:\Users\USER\20190722_아시아 경제 update\notebook\CopyProject"
import os
print(os.listdir(input1))

# Any results you write to the current directory are saved as output
from sklearn.datasets import make_regression

import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.metrics import mean_squared_error, r2_score, roc_auc_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn import datasets, linear_model

from warnings import filterwarnings
filterwarnings('ignore')

['.ipynb_checkpoints', 'example_zigbang.csv', 'example_zigbang_2.csv', 'Untitled.ipynb', '고니']

In [39]:
os.chdir(r"C:\Users\USER\20190722_아시아 경제 update\notebook\CopyProject")
df = pd.read_csv('example_zigbang.csv', header='infer',encoding='latin1')

In [40]:
df.shape

(1601458, 25)

In [41]:
nas = df.isnull()
print(nas.sum(axis=0))

key                                       0
apartment_id                              0
city                                      0
transaction_year_month                    0
transaction_date                          0
year_of_completion                        0
exclusive_use_area                        0
floor                                     0
latitude                                  0
longitude                                 0
address_by_law                            0
total_parking_capacity_in_site        91813
total_household_count_in_sites            0
apartment_building_count_in_sites         0
tallest_building_in_sites                 9
lowest_building_in_sites                  9
heat_type                              2017
heat_fuel                              9667
room_id                                   0
supply_area                               0
total_household_count_of_area_type        0
room_count                              691
bathroom_count                          691
front_door_structure                  13892
transaction_real_price                    0
dtype: int64

In [42]:
df.columns

Index(['key', 'apartment_id', 'city', 'transaction_year_month',
       'transaction_date', 'year_of_completion', 'exclusive_use_area', 'floor',
       'latitude', 'longitude', 'address_by_law',
       'total_parking_capacity_in_site', 'total_household_count_in_sites',
       'apartment_building_count_in_sites', 'tallest_building_in_sites',
       'lowest_building_in_sites', 'heat_type', 'heat_fuel', 'room_id',
       'supply_area', 'total_household_count_of_area_type', 'room_count',
       'bathroom_count', 'front_door_structure', 'transaction_real_price'],
      dtype='object')

In [43]:
import gc

In [44]:
train_up1 = df[df['transaction_year_month']>201806]
train_up1['transaction_real_price'] = train_up1['transaction_real_price'] + 10000000

train_up2 = df[df['transaction_year_month']>201806]
train_up2['transaction_real_price'] = train_up2['transaction_real_price'] + 5000000

df = pd.concat([df,train_up1])
df = pd.concat([df,train_up2])
df = df.reset_index(drop=True)
del train_up1,train_up2
gc.collect()

0

In [45]:
df.shape

(1665760, 25)

In [46]:
df.loc[(df['total_parking_capacity_in_site'].isnull()), ['total_parking_capacity_in_site']] = 0

In [47]:
from sklearn import datasets, linear_model
model1 = linear_model.LinearRegression()
x = np.array(df['total_parking_capacity_in_site'])
y =  np.array(df["total_household_count_in_sites"])

x=x.reshape(-1,1)
y=y.reshape(-1,1)

In [48]:
suma = model1.fit(x,y)

In [49]:
df[20:30]

,key,apartment_id,city,transaction_year_month,transaction_date,year_of_completion,exclusive_use_area,floor,latitude,longitude,...,lowest_building_in_sites,heat_type,heat_fuel,room_id,supply_area,total_household_count_of_area_type,room_count,bathroom_count,front_door_structure,transaction_real_price
20,20,9867,1,200601,11~20,2005,114.48,13,37.559200,127.019503,...,6.0,individual,gas,11865,138.15,36,4.0,2.0,stairway,600000000
21,21,2817,1,200601,11~20,2002,59.94,16,37.549828,127.009284,...,11.0,individual,gas,5842,85.90,864,3.0,1.0,corridor,289000000
22,22,4059,1,200601,11~20,2001,84.93,11,37.558116,126.965304,...,14.0,individual,gas,7222,109.94,152,3.0,2.0,stairway,420000000
23,23,1470,1,200601,11~20,1997,84.99,2,37.537397,127.097622,...,24.0,central,gas,146919,104.38,542,3.0,2.0,stairway,396000000
24,24,1470,1,200601,11~20,1997,59.82,22,37.537397,127.097622,...,24.0,central,gas,3965,82.65,300,2.0,1.0,corridor,287000000
25,25,1470,1,200601,11~20,1997,59.82,22,37.537397,127.097622,...,24.0,central,gas,3966,85.95,354,3.0,1.0,corridor,287000000
26,26,1470,1,200601,11~20,1997,59.82,2,37.537397,127.097622,...,24.0,central,gas,3965,82.65,300,2.0,1.0,corridor,242500000
27,27,1470,1,200601,11~20,1997,59.82,2,37.537397,127.097622,...,24.0,central,gas,3966,85.95,354,3.0,1.0,corridor,242500000
28,28,1470,1,200601,11~20,1997,84.99,6,37.537397,127.097622,...,24.0,central,gas,146919,104.38,542,3.0,2.0,stairway,429000000
29,29,1470,1,200601,11~20,1997,59.82,20,37.537397,127.097622,...,24.0,central,gas,3965,82.65,300,2.0,1.0,corridor,280000000

In [50]:
y = suma.predict(x)

In [51]:
len(y)

1665760

In [52]:
y[1:10]

array([[ 431.69370424],
       [ 931.71097358],
       [ 931.71097358],
       [ 931.71097358],
       [1244.98295694],
       [1244.98295694],
       [ 762.55763483],
       [1736.20425266],
       [3250.46494113]])

In [53]:
df = pd.read_csv('example_zigbang.csv', header='infer',encoding='latin1')

In [54]:
b = df[df['total_parking_capacity_in_site'].isnull() == True]

In [55]:
b = b.index

In [56]:
len(b)

91813

In [57]:
print(b)

Int64Index([     54,      59,      67,      73,     121,     122,     256,
                263,     324,     332,
            ...
            1601269, 1601286, 1601319, 1601333, 1601343, 1601344, 1601359,
            1601366, 1601371, 1601442],
           dtype='int64', length=91813)

In [58]:
for i in b:
    df['total_parking_capacity_in_site'][i] = y[i]